################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Properties/PublishProfiles
/obj/Release
/bin
/.vs
