################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Properties/PublishProfiles
/obj/Release
/bin
*.vs/
/ScheduleBuilderTests/bin/Debug
/ScheduleBuilderTests/obj/Debug
