body {
    font-family: 'Capriola', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.floatRight {
    float: right;
}

/*Login Form*/

body {
    background: #eee !important;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.login {
    font-family: 'Capriola', sans-serif;
    margin: 0 auto;
    max-width: 380px;
    padding: 15px 35px 45px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.login_welcome {
    font-family: 'Capriola', sans-serif;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.form-control {
    font-size: 12px;
    height: auto;
    width: 100%;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Add Shift Modal*/

.uib-timepicker{
    width:100%;
    font-size: 15px;
}