@model ScheduleBuilder.Model.Shift

@{
    ViewBag.Title = "All Shifts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Shifts</h2>

<div>
    <button type="button" class="btn btn-default" ng-click="openModal('Add', {})">Add Shift</button>
    <h4>All Shifts:</h4>
    <table style="width:100%;">

        <thead class="tablestyle">
            <tr>

                <th>
                    <a href="#" ng-click="sortType = 'personLastName'; sortReverse = !sortReverse">
                        Name
                        <span ng-show="sortType == 'personLastName' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'personLastName' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'positionName'; sortReverse = !sortReverse">
                        Position
                        <span ng-show="sortType == 'positionName' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'positionName' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'scheduledStartTime'; sortReverse = !sortReverse">
                        Scheduled Start Time
                        <span ng-show="sortType == 'scheduledStartTime' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'scheduledStartTime' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'scheduledEndTime'; sortReverse = !sortReverse">
                        Scheduled End Time
                        <span ng-show="sortType == 'scheduledEndTime' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'scheduledEndTime' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'scheduledLunchBreakStart'; sortReverse = !sortReverse">
                        Scheduled Lunch Start
                        <span ng-show="sortType == 'scheduledLunchBreakStart' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'scheduledLunchBreakStart' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'scheduledLunchBreakEnd'; sortReverse = !sortReverse">
                        Scheduled Lunch End
                        <span ng-show="sortType == 'scheduledLunchBreakEnd' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'scheduledLunchBreakEnd' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th></th>
                <th></th>
                <th>Hours per shift</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row_alternate" ng-repeat="sh in shift | orderBy:sortType:sortReverse | filter:searchShift track by $index">
                <td>{{sh.personLastName}}, {{sh.personFirstName}}  </td>
                <td>{{sh.positionName}}</td>
                <td>{{jsDate(sh.scheduledStartTime) | date : "short"}}</td>
                <td>{{jsDate(sh.scheduledEndTime) | date : "short"}}</td>
                <td>{{jsDate(sh.scheduledLunchBreakStart) | date : "short"}}</td>
                <td>{{jsDate(sh.scheduledLunchBreakEnd) | date : "short"}}</td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="openModal('Update', sh)" ng-disabled="checkDate(jsDate(sh.scheduledEndTime))">Update Shift</button>
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="openShiftDetailModal(sh)">View Details</button>
                </td>
                <td>{{getTotalHours(sh)}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Add/Update Shift Modal Content -->
<script type="text/ng-template" id="myModalContent.html">
    <form name="shiftForm">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Shift Information - {{type}} Shift</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <table>
                <tbody>
                    <tr>
                        <th>
                            <label>Person: </label>&nbsp;&nbsp;
                        </th>
                        <th>
                            <select class="form-control" ng-options="item.Id as item.LastName + ', ' + item.FirstName for item in activePeople" ng-model="selected.personID" ng-required="true" name="personID" ng-change="getPersonPositions(selected.personID)">
                                <option value="">-- Please select a person --</option>
                            </select>
                            <span ng-show="shiftForm.personID.$touched && shiftForm.personID.$invalid">You must select a person.</span>
                        </th>

                    </tr>
                    <tr ng-show="selected.personID">
                        <th>
                            <label>Position: </label>&nbsp;&nbsp;
                        </th>
                        <th>
                            <select class="form-control" ng-options="item.positionID as item.positionTitle for item in personPositions" ng-model="selected.positionID" ng-required="true" name="position" ng-change="getPositionTasks(selected.positionID)">
                                <option value="">-- Please select a position --</option>
                            </select>
                            <span ng-show="shiftForm.position.$touched && shiftForm.position.$invalid">You must select a position.</span>
                        </th>
                    </tr>
                    <tr ng-show="selected.positionID">
                        <th>Position Tasks: </th>
                        <th>
                            <ul style="list-style:none;">
                                <li ng-repeat="t in positionTasks">
                                    <label><input type="checkbox" ng-model="selected.tasks[t.TaskId]" ng-true-value="'true'" ng-false-value="'false'">&nbsp;{{t.Task_title}}</label>

                                </li>
                            </ul>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label>Start Date/Time: </label>&nbsp;&nbsp;
                        </th>
                        <th>
                            <p class="input-group">
                                <input class="form-control" type="text" style="width: 100%;" uib-datepicker-popup="dd-MM-yyyy HH:mm:ss" ng-model="selected.startdt"
                                       is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="startdt" />
                                <span class="input-group-btn">
                                    <button type="button" class="form-control btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                            <span ng-show="shiftForm.startdt.$touched && shiftForm.startdt.$invalid">You must select a starting date and time.</span>
                        </th>
                        <th>
                            <div style="margin-top:-13px" uib-timepicker ng-model="selected.startdt" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></div>
                        </th>

                    </tr>
                    <tr>
                        <th>
                            <label>End Date/Time: </label>&nbsp;&nbsp;
                        </th>
                        <th>
                            <p class="input-group">
                                <input class="form-control" type="text" style="width: 100%;" uib-datepicker-popup="dd-MM-yyyy HH:mm:ss" ng-model="selected.enddt"
                                       is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="enddt" />
                                <span class="input-group-btn">
                                    <button type="button" class="form-control btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                            <span ng-show="shiftForm.enddt.$touched && shiftForm.enddt.$invalid">You must select an ending date and time.</span>
                        </th>
                        <th>
                            <div style="margin-top:-13px" uib-timepicker ng-model="selected.enddt" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></div>
                        </th>

                    </tr>
                    <tr>
                        <th>
                            <label>Start Lunch Date/Time*: </label>&nbsp;&nbsp;
                        </th>
                        <th>
                            <p class="input-group">
                                <input class="form-control" type="text" style="width: 100%;" uib-datepicker-popup="dd-MM-yyyy HH:mm:ss" ng-model="selected.startlunchdt"
                                       is-open="popup3.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="form-control btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </th>
                        <th>
                            <div style="margin-top:-13px" uib-timepicker ng-model="selected.startlunchdt" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></div>
                        </th>

                    </tr>
                    <tr>
                        <th>
                            <label>End Lunch Date/Time*: </label>&nbsp;&nbsp;
                        </th>
                        <th>
                            <p class="input-group">
                                <input class="form-control" type="text" style="width: 100%;" uib-datepicker-popup="dd-MM-yyyy HH:mm:ss" ng-model="selected.lunchenddt"
                                       is-open="popup4.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="form-control btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </th>
                        <th>
                            <div style="margin-top:-13px" uib-timepicker ng-model="selected.lunchenddt" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></div>
                        </th>

                    </tr>
                    <tr>
                        <th>
                            <label>
                                Notes:
                            </label>
                        </th>
                        <th>
                            <textarea style="width:100%;" ng-model="selected.notes" />
                        </th>
                    </tr>
                    <tr ng-if="type == 'Update'">
                        <th>
                            <label>
                                Delete Shift:
                                <input type="checkbox" ng-model="selected.delete" ng-true-value="'delete'" ng-false-value="''">
                            </label><br />
                        </th>

                    </tr>
                    <tr><th>*Optional fields</th></tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button ng-if="type == 'Add'" class="btn btn-primary" type="button" ng-click="addShift(selected)" ng-disabled="shiftForm.$invalid">Add Shift</button>
            <button ng-if="type == 'Update'" class="btn btn-primary" type="button" ng-click="updateShift(selected)" ng-disabled="shiftForm.$invalid">Update Shift</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>
<!-- Shift Detail Modal Content -->
<script type="text/ng-template" id="shiftDetailModalContent.html">

    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Shift Information</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <table>
            <tr>
                <th>Employee:</th>
                <th>{{sDetail.personLastName}}, {{sDetail.personFirstName}}</th>
            </tr>
            <tr>
                <th>Position:</th>
                <th>{{sDetail.positionName}}</th>
            </tr>
            <tr>
                <th>Tasks:</th>
                <th>
                    <ul style="list-style:none;">
                        <li ng-repeat="t in positionTasks">
                            <label><input type="checkbox" ng-model="sDetail.tasks[t.TaskId]" ng-true-value="'true'" ng-false-value="'false'" ng-disabled="true">&nbsp;{{t.Task_title}}</label>
                        </li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th>Notes:</th>
                <th>{{sDetail.Notes}}</th>
            </tr>
            <tr>
                <th>Scheduled Start Time:</th>
                <th>{{jsDate(sDetail.scheduledStartTime) | date : "short"}}</th>
                <th>Actual Start Time:</th>
                <th>{{jsDate(sDetail.actualStartTime) | date : "short"}}</th>
            </tr>
            <tr>
                <th>Scheduled End Time:</th>
                <th>{{jsDate(sDetail.scheduledEndTime) | date : "short"}}</th>
                <th>Actual End Time:</th>
                <th>{{jsDate(sDetail.actualEndTime) | date : "short"}}</th>
            </tr>
            <tr>
                <th>Scheduled Lunch Start Time:</th>
                <th>{{jsDate(sDetail.scheduledLunchBreakStart) | date : "short"}}</th>
                <th>Actual Lunch Start Time:</th>
                <th>{{jsDate(sDetail.actualLunchBreakStart) | date : "short"}}</th>
            </tr>
            <tr>
                <th>Scheduled Lunch End Time:</th>
                <th>{{jsDate(sDetail.scheduledLunchBreakEnd) | date : "short"}}</th>
                <th>Actual Lunch End Time:</th>
                <th>{{jsDate(sDetail.actualLunchBreakEnd) | date : "short"}}</th>
            </tr>
            <tr>
                <th>Total Scheduled Hours:</th>
                <th>{{getTotalHours(sDetail)}}</th>
                <th>Total worked Hours:</th>
                <th>{{getClockedHours(sDetail)}}</th>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">OK</button>
    </div>

</script>

