

@{
    ViewBag.Title = "Forgot Password??";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>
<form action="ForgotPasswordSubmission" method="post">

    <label>Enter your email : </label>
    <input class="form-control" type="text" name="confirmEmail" />
    <span class="text-danger">@ViewBag.noEmail</span>
    <br />
    <label>Enter your new password : </label>
    <input class="form-control" type="text" name="newPassword" />
    <br />
    <input class="form-control btn-primary" type="submit" />
</form>