@model ScheduleBuilder.Model.Person

@{
    ViewBag.Title = "Forgot Password??";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2>

<div class="form-group">
    <label class="control-label col-md-2">Enter your email : </label>
    <div class="col-md-10">
        <input type="text" name="confirmEmail" />
    </div>

    <div class="col-md-10">
        <label class="control-label col-md-2">Enter your new password : </label>
        <input type="password" name="newPassword" />
    </div>
</div>