@{
    ViewBag.Title = "Home Page";
}

@if (Session["roleTitle"].ToString() == "Employee")
{
    <div class="jumbotron">
        <h3>Welcome to the Employee Dashboard!</h3>
    </div>
    <p class="lead">Today's Schedule</p>
}
else if (Session["roleTitle"].ToString() == "Manager")
{
    <div class="jumbotron">
        <h3>Welcome to the Manager Dashboard!</h3>
    </div>
    <p class="lead">Today's Schedule</p>
}
else if (Session["roleTitle"].ToString() == "Administrator")
{
    <div class="jumbotron">
        <h3>Welcome to the Administrator Dashboard!</h3>
    </div>
}
