@{
    ViewBag.Title = "Home Page";
}

@if (Session["roleTitle"].ToString() == "Employee")
{
    <div class="jumbotron center">
        <div>
            <img src="@Url.Content("~/Content/Images/SM.png")" width="131" height="120" />
        </div>
        <h2>Welcome to the Employee Dashboard</h2>
    </div>
    <p class="lead">Today's Schedule</p>
}
else if (Session["roleTitle"].ToString() == "Manager")
{
    <div class="jumbotron center">
        <div>
            <img src="@Url.Content("~/Content/Images/SM.png")" width="131" height="120" />
        </div>
        <h2>Welcome to the Manager Dashboard</h2>
    </div>
    <p class="lead">Today's Schedule</p>
}
else if (Session["roleTitle"].ToString() == "Adminstrator")
{

    <div class="jumbotron center">
        <div>
            <img src="@Url.Content("~/Content/Images/SM.png")" width="131" height="120" />
        </div>
        <h2>Welcome to the Administrator Dashboard</h2>
    </div>
}


<div>
    <button type="button" class="btn btn-default" ng-click="openModal('Add', {})">Add Shift</button>
    <h4>All Shifts:</h4>
    <table style="width:100%;">

        <thead class="tablestyle">
            <tr>
                <!-- Leave these out for the time being, maybe add back later or put in another area <th>shiftID</th>
                <th>scheduleShiftID</th>
                <th>personID</th> -->
                <th>Name</th>
                <!-- <th>positionID</th> -->
                <th>Position</th>
                <th>scheduledStartTime</th>
                <th>scheduledEndTime</th>
                <th>scheduledLunchBreakStart</th>
                <th>scheduledLunchBreakEnd</th>
                <!-- <th>actualStartTime</th>
                <th>actualEndTime</th>
                <th>actualLunchBreakStart</th>
                <th>actualLunchBreakEnd</th> -->
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sh in shift">
                <!-- <td>{{sh.shiftID}}</td>
                <td>{{sh.scheduleShiftID}}</td>
                <td>{{sh.personID}}</td> -->
                <td>{{sh.personLastName}}, {{sh.personFirstName}}</td>
                <!-- <td>{{sh.positionID}}</td> -->

                <td>{{sh.positionName}}</td>
                <td>{{jsDate(sh.scheduledStartTime) | date : "short"}}</td>
                <td>{{jsDate(sh.scheduledEndTime) | date : "short"}}</td>
                <td>{{jsDate(sh.scheduledLunchBreakStart) | date : "short"}}</td>
                <td>{{jsDate(sh.scheduledLunchBreakEnd) | date : "short"}}</td>
                <!-- <td>{{jsDate(sh.actualStartTime) | date : "short"}}</td>
                <td>{{jsDate(sh.actualEndTime) | date : "short"}}</td>
                <td>{{jsDate(sh.actualLunchBreakStart) | date : "short"}}</td>
                <td>{{jsDate(sh.actualLunchBreakEnd) | date : "short"}}</td> -->
                <td>
                    <button type="button" class="btn btn-default" ng-click="openModal('Update', sh)" ng-disabled="checkDate(jsDate(sh.scheduledEndTime))">Update Shift</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Shift Information - {{type}} Shift</h3>
    </div>
    <div class="modal-body" id="modal-body">
        
        <table>
            <tbody>
                <tr>
                    <th>
                        <label>Person: </label>&nbsp;&nbsp;
                    </th>
                    <th>
                        <select class="form-control" ng-options="item.Id as item.LastName + ', ' + item.FirstName for item in activePeople" ng-model="selected.personID">
                            <option value="">-- Please select a person --</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>
                        <label>Position: </label>&nbsp;&nbsp;
                    </th>
                    <th>
                        <select class="form-control" ng-options="item.positionID as item.positionTitle for item in activePositions" ng-model="selected.positionID">
                            <option value="">-- Please select a position --</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th>
                        <label>Start Date/Time: </label>&nbsp;&nbsp;
                    </th>
                    <th>
                        <p class="input-group">
                            <input class="form-control" type="text" style="width: 100%;" uib-datepicker-popup="dd-MMMM-yyyy HH:mm:ss" ng-model="selected.startdt"
                                   is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="form-control btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </th>
                    <th>
                        <div style="margin-top:-13px" uib-timepicker ng-model="selected.startdt" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></div>
                    </th>

                </tr>
                <tr>
                    <th>
                        <label>End Date/Time: </label>&nbsp;&nbsp;
                    </th>
                    <th>
                        <p class="input-group">
                            <input class="form-control" type="text" style="width: 100%;" uib-datepicker-popup="dd-MMMM-yyyy HH:mm:ss" ng-model="selected.enddt"
                                   is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="form-control btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </th>
                    <th>
                        <div style="margin-top:-13px" uib-timepicker ng-model="selected.enddt" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></div>
                    </th>

                </tr>
                <tr>
                    <th>
                        <label>Start Lunch Date/Time*: </label>&nbsp;&nbsp;
                    </th>
                    <th>
                        <p class="input-group">
                            <input class="form-control" type="text" style="width: 100%;" uib-datepicker-popup="dd-MMMM-yyyy HH:mm:ss" ng-model="selected.startlunchdt"
                                   is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="form-control btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </th>
                    <th>
                        <div style="margin-top:-13px" uib-timepicker ng-model="selected.startlunchdt" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></div>
                    </th>

                </tr>
                <tr>
                    <th>
                        <label>End Lunch Date/Time*: </label>&nbsp;&nbsp;
                    </th>
                    <th>
                        <p class="input-group">
                            <input class="form-control" type="text" style="width: 100%;" uib-datepicker-popup="dd-MMMM-yyyy HH:mm:ss" ng-model="selected.lunchenddt"
                                   is-open="popup4.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="form-control btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </th>
                    <th>
                        <div style="margin-top:-13px" uib-timepicker ng-model="selected.lunchenddt" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="false"></div>
                    </th>

                </tr>
                <tr ng-if="type == 'Update'">
                    <th>
                        <label>
                            Delete Shift:
                            <input type="checkbox" ng-model="selected.delete" ng-true-value="'delete'" ng-false-value="''">
                        </label><br />
                    </th>

                </tr>
                <tr><th>*Optional fields</th></tr>
                <tr ng-if="type == 'Update'">
                    <th>
                    <input type="hidden" model="selected.shiftID" ng-init="hell" ng-value="hell" />
                    <input type="hidden" model="selected.scheduleShiftID" ng-init="115" ng-value="115" />
                        </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button ng-if="type == 'Add'" class="btn btn-primary" type="button" ng-click="addShift(selected)">Add Shift</button>
        <button ng-if="type == 'Update'" class="btn btn-primary" type="button" ng-click="updateShift(selected)">Update Shift</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>



