@model ScheduleBuilder.Model.Person

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using (Html.BeginForm())
{
<div class="wrapper">
    <h2 class="login_welcome">Welcome to Schedule Manager!</h2>
    <div class="login">
        <h3 class="form-signin-heading">Please Login</h3>
        <h4 class="text-danger">@ViewBag.Error</h4>

        <input required="" class="form-control" name="Username" type="text" placeholder="Username" />

        <input required="" class="form-control" name="Password" type="password" placeholder="Password" />

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />

    </div>
</div>
}