@model ScheduleBuilder.Model.Person

@{
    ViewBag.Title = "PeopleDirectory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People Directory</h2>
<br />
<p>
    <h4>@Html.ActionLink("Get All People", "GetAllPeoples", "Person")</h4>
</p>
<p>
        <form method="post" action="SearchPeople">
            <p>
                Search by name 
                <input type="text" name="SearchString"/>
                <input type="submit" value="Filter" />
            </p>
        </form>
</p>

