
@{
    ViewBag.Title = "PeopleDirectory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People Directory</h2>
<br />
<p>
    <h4>@Html.ActionLink("Get All People", "GetAllPeoples", "Person")</h4>
</p>
<p>
    <h4>@Html.ActionLink("Get Person by Id", "GetPersonById", "Person")</h4>
</p>

