@model ScheduleBuilder.Model.Person

@{
    ViewBag.Title = "Employee Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee Directory</h2>
<br />
<ul style="list-style:none;">
    <li>
        <div>
            <h4>@Html.ActionLink("Get All Employees", "GetAllPeoples", "Person")</h4>
        </div>
    </li>
    <li>
        <div>
            <form method="post" action="@Url.Action("SearchPeople", "Person")" >
                <span class="input-group col-md-3">
                    <input style="font-size:16px; padding:15px" class="form-control" type="text" name="SearchString" placeholder="Search by Name"/>
                    <span class="input-group-btn">
                        <input style="font-size:16px; padding:15px" class="form-control btn-primary" type="submit" value="Filter" />
                    </span>
                </span>
            </form>
        </div>
    </li>
</ul>

